{% extends 'layout.html' %}

{% block body %}
<div class="about">
	<h1>About Us</h1> <hr>
	<p>Doggie Walk has been developed solely with the purpose to connect local dog owners, who do not have time to walk their dogs, with people who do not have dogs. Our goal is to connect the local dog community and to make owning and walking a dog a convenient process.</p>
	<h2>Our Team</h2> <hr>
	<ul style="list-style-type:circle">
	    <li>David Tan</li>
	    <li>Fahd Chaudhry</li>
	    <li>Shihang Yao</li>
	    <li>Siddharth Chugh</li>
	</ul>
</div>

{% endblock %}
