{% extends 'layout.html' %}

{% block body %}
<div class="heading">
<h1>Privacy Policy</h1>
</div>
<h5>Last updated: July 15, 2018</h5><hr>
<h4>What information do we collect?</h4>
<p>
We collect the information you share with us when you sign up and/or update your profile (name, email, address, and such).
We take precautions to prevent unauthorized access.
</p><br>
<h4>How do we use this information?</h4>
<p>
The data we collect is used to provide and improve our services.
We use your information to respond to you when you contact us, or to inform you of changes related to the services we provide.
We do not share your information with third parties of any kind.
We do not send you unsolicited communications for marketing purposes.
We do not run ads and do not engage in cross-marketing.
</p><br>
<h4>How can you manage or delete information about yourself?</h4>
<p>
You can manage your personal information through your profile page.
We will store you information for as long as you remain a registered user.
You can delete your profile at any moment.
</p><br>
<h4>How will we notify you of changes to this policy?</h4>
<p>
We’ll notify you before we make changes to this policy and give you the opportunity to review and comment on the revised policy before continuing to use our services.
</p><br>
<h4>Feel free to ask us any questions on the Contact Us <a href="/contactUs">page.</a></h4>
{% endblock %}
